div {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  width: 860px;
  height: 946px;
  border-radius: 25px;
  border: 2px solid;
  border-image-source: radial-gradient(
      0% 50% at 50% 50%,
      #0f0f0f 0%,
      rgba(21, 21, 21, 0) 100%
    ),
    radial-gradient(
      198.89% 50% at 50% 50%,
      #0a7abf 0%,
      rgba(255, 255, 255, 0.7) 100%
    ),
    radial-gradient(
      170.42% 50% at 50% 50%,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );
  background: linear-gradient(
    111.49deg,
    rgba(255, 255, 255, 0.4) -8.95%,
    rgba(255, 255, 255, 0.01) 114%
  );
  backdrop-filter: blur(100px);
}

.restart {
  position:absolute;
  width: 192px;
  height: 48px;
  border-radius: 12px;
  margin-top: 42px;
  margin-left: 628px;
  background: #F96E03;
  opacity: 80%;
  //background: linear-gradient(180deg, #F96E03 0%, rgba(255, 255, 255, 0) 100%);
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
  color: #FFEED8;
  font-family: Poppins;
}

.stepBack {
  position:absolute;
  width: 192px;
  height: 48px;
  border-radius: 12px;
  margin-top: 42px;
  margin-left: 412px;
  border: 2px solid;
  background:#265DC7;
  opacity: 80%;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
  color: #B6F6FF;
  font-family: Poppins;
}
app-board{
  position:absolute;
  margin-left: 40px;
  margin-top: 126px;
}
span{
  //font-family: poppins;
  color: #296399;
  line-height: 72px;
  font-weight: 700;
  font-size: 48px;
  margin-top: 30px;
  margin-left:40px;
  text-align: center;

}
