  <div class="game-field-header">
    <span>10x10</span>
    <div>
      <button class="step-back" (click)="onStepBackClick()">STEP BACK</button>
      <button class="restart" (click)="dialog.showModal()">
        <span>RESTART</span>
      </button>
    </div>
  </div>

  <app-board
    [buttonState]="gameService.buttonState"
    [historyMoves]="gameService.historyMoves"
    [knightPositions]="gameService.knightPositions"
    (restart)="onRestartClick()"
    (selectSellEmitter)="onSelectCell($event)"
    (loseDialog)="losePopUp()"
    (winnerDialog)="winnerPopUp()"
  >
  </app-board>

  <dialog #startDialog open>
    <div>
      <header>
        <span>START GAME</span>
      </header>
      <div>
        <p class="message">Choose size bordGame</p>
        <label>Height <input type="text" placeholder="Height"></label>
        <label>Width <input type="text" placeholder="Width"></label>
        <button class="exit" (click)="startDialog.close()">
        <span>START</span>
        </button>
      </div>
      <footer></footer>
    </div>
  </dialog>

<dialog #dialog>
  <div>
    <header class="restart-button">
      <span>RESTART</span>
      <img (click)="dialog.close()" src="../../assets/close.svg" />
    </header>
    <div>
      <p class="question">Are you sure?</p>
      <div class="flex">
        <button class="confirm" (click)="dialog.close(); onRestartClick()">
          <span>YES</span>
        </button>
        <button class="cancel" (click)="dialog.close()"><span>NO</span></button>
      </div>
    </div>
    <footer></footer>
  </div>
</dialog>

<dialog #loseDialog>
  <div>
    <header>
      <span>SORRY!</span>
      <img
        class="cross"
        (click)="loseDialog.close()"
        src="../../assets/close.svg"
      />
    </header>
    <div>
      <img class="sad" src="../../assets/sad.svg" />
      <p class="message">You lose!</p>
      <button class="exit" (click)="loseDialog.close(); onRestartClick()">
        <span>TRY AGAIN</span>
      </button>
    </div>
    <footer></footer>
  </div>
</dialog>

<dialog #winnerDialog>
  <div>
    <header>
      <span>CONGRATS!</span>
      <img
        class="cross"
        (click)="winnerDialog.close()"
        src="../../assets/close.svg"
      />
    </header>
    <div>
      <img class="happy" src="../../assets/happy.svg" />
      <p class="message">You are WINNER!</p>
      <button class = "exit" (click)="winnerDialog.close(); onRestartClick()">
        <span>RESTART</span>
      </button>
    </div>
    <footer></footer>
  </div>
</dialog>
