:host {
  display: block;
  height: 100vh;
  overflow: auto;
}
.circleBlue {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(90deg, #fc00ff 0%, #00dbde 100%);
  height: 428px;
  width: 428px;
  margin-left: 20vw;
  margin-top: 10vh;
  transform: rotate(-105deg);
}

.circleYellow {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(90deg, #e65c00 0%, #f9d423 100%);
  height: 380px;
  width: 380px;
  margin-left: 63vw;
  margin-top: 75vh;
}

app-gamefield {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  padding: 40px 40px;
  width: fit-content;
  border-radius: 25px;
  border-image-source: radial-gradient(
      0% 50% at 50% 50%,
      #0f0f0f 0%,
      rgba(21, 21, 21, 0) 100%
    ),
    radial-gradient(
      198.89% 50% at 50% 50%,
      #0a7abf 0%,
      rgba(255, 255, 255, 0.7) 100%
    ),
    radial-gradient(
      170.42% 50% at 50% 50%,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );
  background: linear-gradient(
    111.49deg,
    rgba(255, 255, 255, 0.4) -8.95%,
    rgba(255, 255, 255, 0.01) 114%
  );
  backdrop-filter: blur(100px);
}
