div{
    display: flex;
    margin-top: 72px;
    margin-left: 530px;
    border-radius: 20px;
    height: 780px;
    width: 780px;
    background-image: linear-gradient(to bottom, #5971B0, #7F2DE8);
}