div {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  margin-top: 72px;
  margin-left: 530px;
  border-radius: 20px;
  height: 780px;
  width: 780px;
  background: linear-gradient(180deg, #aac2ff 0%, #c81bf1 100%);
  backdrop-filter: blur(101px);
  box-shadow: 0px 4px 4px 0px #00000040;
}


