:host {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border-radius: 20px;
  height: 780px;
  width: 780px;
  background: linear-gradient(180deg, #aac2ff 0%, #c81bf1 100%);
  backdrop-filter: blur(101px);
  box-shadow: 0px 4px 4px 0px #00000040;
}

button {
  margin: auto;
  display: flex;
  background: linear-gradient(
    180deg,
    #ffffff -31.99%,
    rgba(255, 255, 255, 0) 113.98%
  );
  border: none;
  border-radius: 16px;
  height: 64px;
  width: 64px;
  padding: 0;
  &:hover {
    cursor: pointer;
  }
  p {
    align-items: center;
    justify-content: center;
  }
}

.selected {
  pointer-events: none;
  p {
    display: flex;
    margin: auto;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background: linear-gradient(220.53deg, #b2f763 0%, #26ab3f 76.95%);
    font-size: 16px;
    font-weight: 700;
    color: red;
    margin: auto;
    line-height: 24px;
  }
}

.possible > p {
  display: flex;
  margin: auto;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: linear-gradient(180deg, #ffb800 0%, #ff1f00 100%);
}

.possible {
  background: rgb(175, 164, 164);
  &:hover {
    cursor: pointer;
    background: linear-gradient(
      180deg,
      #ffffff -31.99%,
      rgba(255, 255, 255, 0) 113.98%
    );
  }
}

.disabled {
  pointer-events: none;
}

.last {
  pointer-events: none;
  p {
    display: flex;
    text-align: center;
    margin: auto;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: linear-gradient(180deg, #ffb800 0%, #ff1f00 100%);
    font-size: 18px;
    font-weight: 700;
    color: blue;
    margin: auto;
    line-height: 27px;
  }
}

.number {
  font-size: 0px;
}
