div{
    display: flex;
    margin: 16px;
    margin-right: 0;
    border: 2px solid EDC7FF75(153, 104, 104);
    background-image: linear-gradient(to bottom, #EDC7FF75 46%, #AB77FFBD 74%);
    border-radius: 16px;
    height: 64px;
    width: 64px;
}