button {
  display: flex;
  border: 2px solid;
  background: linear-gradient(
    180deg,
    #ffffff -31.99%,
    rgba(255, 255, 255, 0) 113.98%
  );
  border-image-source: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 16px;
  height: 64px;
  width: 64px;
  padding: 0;
}

:host(.selected)  button > div {
  display: flex;
  text-align: center;
  margin: auto;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: linear-gradient(180deg, #FFB800 0%, #FF1F00 100%);
}

:host(.possible)  button > div{
  display: flex;
  text-align: center;
  margin: auto;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: linear-gradient(180deg, #FFB800 0%, #FF1F00 100%);
}

:host(.disabled .selected) > button > div {
  pointer-events: none;
  display: flex;
  text-align: center;
  margin: auto;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background: linear-gradient(220.53deg, #B2F763 0%, #26AB3F 76.95%);
}

:host(.disabled) > button  {
  pointer-events: none;
  // display: flex;
  // text-align: center;
  // margin: auto;
  // height: 38px;
  // width: 38px;
  // border-radius: 50%;
  // background: linear-gradient(220.53deg, #B2F763 0%, #26AB3F 76.95%);
}
:host(.disabled .selected) button > div  {
  
  display: flex;
  text-align: center;
  margin: auto;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background: linear-gradient(220.53deg, #B2F763 0%, #26AB3F 76.95%);
}
